version: '3.8'
services:
   web:
    image: flask-app
    build: .
    ports:
        - "5000:5000"
    environment:
        - SECRET_KEY = 1234
        - FLASK_APP=app.py
        - FLASK_ENV=development
    volumes:
        - .:/app
    restart: unless-stopped
    
